torch>=2.1.0
torchvision>=0.16.0
accelerate>=0.31.0
einops>=0.8.0
einconv>=0.1.0
opt_einsum>=3.3.0
scikit-learn>=1.4.0
safetensors>=0.4.2
tqdm>=4.66.4
datasets>=2.20.0
transformers>=4.42.0
isort==5.13.2
pylint==3.2.3
pytest==8.2.2
ruff==0.4.0